
[submodule "experiment/Redis-CRDT-Experiment"]
	path = experiment/Redis-CRDT-Experiment
	url = git@github.com:StupidTrout/Redis-CRDT-Experiment.git
[submodule "experiment/Riak-CRDT-Experiment"]
	path = experiment/Riak-CRDT-Experiment
	url = git@github.com:StupidTrout/Riak-CRDT-Experiment.git
